<h1>New Products</h1>

   <%= render 'form' %>

  <!-- Using form_for enables us to generate a form that will automatically submit to /products for new products so we can capture that with the create action to create new products with the parameters submitted by the user.  -->
